html, body {
  height: 100%;
  margin: 0;
  text-align: center;
}

main{
	min-height: 100%;
	margin-bottom: -50px;
}

header{
	background-color: #F15B31;
	padding: 30px 20px;
}

h1{
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

nav{
	background-color: #00A6B3;
	padding: 20px;
	text-align: center;
}

nav a{
	font-family: "Raleway";
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

a:hover{
	color: #F15B31; 
	border-bottom: 1px solid #F15B31;
}

img{
	margin:40px 8px;
}

/*main paragraph*/
.mainstuff{
	padding: 3em 10em;
}

h2{
	font-family: "Raleway";
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

p.paragraph{
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
	padding: 2.0em;
}

#button{
	background-color: #F15B31; /* Orange */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:3px;
}

.push{
	height: 50px;
}

/*footer */
footer{
	text-transform: uppercase;
	padding: 0em 2em;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	height: 50px;
}

p.Copyright{
	font-family: "Raleway";
	float:left;
	text-align: center;
}

.message{
	font-family: "Raleway";
	float:right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name{
	color: #F15B31;
	font-weight: 700;
}